<div [ngClass]="{'dark-theme': isDarkTheme}" class="main-content-container">
    <div [ngClass]="{'dark-background': isDarkTheme}"
         id="particles-js-target"></div>
    <div class="row" *ngIf="!isLoading && !rosterInputted">
        <div class="col-xs-12 init-app-container">
            <mat-card class="init-app-card">
                <h1 class="init-main-header">Generate Roster File
                    <mat-slide-toggle [(ngModel)]="isDarkTheme" class="dark-mode-slider" (change)="onDarkModeChange()">
                        Dark Mode
                    </mat-slide-toggle></h1>
                <p>Select your Canvas Roster CSV File. This can be found by going to the <i>GaTech Roster</i> module and
                    clicking <i>Export Roster</i>.</p>
                <input type="file" #file (change)="loadCanvasRoster(file.files)">
                <br>
                <span class="text-red">{{errorMessage}}</span>
            </mat-card>
        </div>
    </div>
    <div *ngIf="isLoading" id="progress-container">
        <div id="progress-pad"></div>
        <mat-progress-spinner mode="indeterminate" id="progress-spinner"></mat-progress-spinner>
    </div>
    <div class="row" *ngIf="!isLoading && rosterInputted">
        <div class="col-xs-12 init-app-container">
            <mat-card class="init-app-card" *ngIf="!generatedRoster">
                <h1 class="init-main-header">Parsed Canvas XLSX
                    <mat-slide-toggle [(ngModel)]="isDarkTheme" class="dark-mode-slider" (change)="onDarkModeChange()">
                        Dark Mode
                    </mat-slide-toggle>
                </h1>
                <p>Found {{students.length}} students</p>
                <button mat-raised-button class="btn btn-success" (click)="generateRoster()">Generate Processed Roster
                </button>
            </mat-card>
            <mat-card class="init-app-card" *ngIf="generatedRoster">
                <h1 class="init-main-header">Finished Generating Roster
                    <mat-slide-toggle [(ngModel)]="isDarkTheme" class="dark-mode-slider" (change)="onDarkModeChange()">
                        Dark Mode
                    </mat-slide-toggle></h1>
                <p class="text-red">You should delete the local copy of your raw canvas roster, since it contains
                    unhashed G.T.I.D.s</p>
                <button mat-raised-button class="btn btn-success" (click)="downloadRoster()">Download Processed Roster
                </button>
                <br>
                <button mat-raised-button class="btn btn-success" id="home-button" (click)="openHomePage()">Home
                </button>
            </mat-card>
        </div>
    </div>
</div>
