.init-main-header {
    margin-top: 6px;
    font-size: 28px;
}

.init-app-container {
    margin: 5px;
    width: 100%;
}

.init-app-card {
    width: 100%;
}


#progress {
    text-align: center;
}

#progress-pad {
    height: 40vh;
}

#progress-spinner {
    display: inline-block;
}

#progress-spinner {
    margin: auto;
    display: block;
}

.dark-mode-slider {
    float: right;
}

#home-button {
    margin-top: 10px;
}
