.main-header {
    margin-top: 6px;
    margin-left: 6px;
    font-size: 28px;
}

.ta-duty-header {
    margin-top: 10px;
    margin-left: 16px;
    font-size: 24px;
    margin-bottom: 8px;
}

.elevate-privilege-control {
    float: right;
}

.init-main-header {
    margin-top: 6px;
    font-size: 28px;
}

.main-content-container {
    padding: 5px;
}

#init-app-container {
    margin: 5px;
    width: 100%;
}

#init-app-card {
    width: 100%;
}

#progress {
    text-align: center;
}

#progress-pad {
    height: 40vh;
}

#progress-spinner {
    display: inline-block;
}

#progress-spinner {
    margin: auto;
    display: block;
}

.edit-queue-control {
    display: inline-block;
    float: right;
}

.edit-queue-btn {
    line-height: 24px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    min-width: 10px;
    margin-right: 4px;
}

.student-card {
    width: 100%;
    margin: 2px;
    padding: 12px;
    display: inline-block;
}

.student-name {
    font-weight: bold;
    font-size: 20px;
}

.ta-list-container {
    width: 100%;
}

.ta-card {
    width: 100%;
    text-align: center;
    margin: 0 0 30px;
    padding-bottom: 10px;
}

.ta-picture {
    width: auto;
    height: auto;
    object-fit: cover;
}

.ta-name {
    margin-top: 2px;
    font-size: 20px;
    font-weight: bold;
}

.ta-email {
    margin-top: 2px;
    font-size: 14px;
    color: grey;
}

.ta-large-name {
    font-size: 21px;
    font-weight: bold;
}

.student-queue-container {
    width: 66%;
}

.ta-duty-container {
    width: 33%;
}

.buzzcard-instruction {
    margin-left: 6px;
}

.empty-queue-label {
    color: grey;
    margin-left: 6px;
}

.empty-duty-label {
    color: grey;
    margin-left: 16px;
}

.external-link {
    cursor: pointer;
    color: unset;
}

.page-footer {
    display: flex;
    color: grey;
    justify-content: center;
}
