<div [ngClass]="{'dark-theme': isDarkTheme}" class="main-content-container">
    <div class="row" *ngIf="!appInitialized && !isInitializing">
        <div class="col-xs-12" id="init-app-container">
            <mat-card id="init-app-card">
                <h1 class="init-main-header">Create Office Hours Queue</h1>
                <form>
                    <mat-form-field>
                        <input matInput placeholder="Class name (optional)" [(ngModel)]="className" name="className">
                    </mat-form-field>
                </form>
                <b>Select roster csv file</b>
                <br>
                <input type="file" #file (change)="initializeApp(file.files)">
            </mat-card>
        </div>
    </div>
    <div *ngIf="!appInitialized && isInitializing" id="progress-container">
        <div id="progress-pad"></div>
        <mat-progress-spinner mode="indeterminate" id="progress-spinner"></mat-progress-spinner>
    </div>
    <div class="row" *ngIf="appInitialized">
        <div class="col col-sm-8">
            <h1 class="main-header">{{className}} Office Hours Queue</h1>
            <b class="buzzcard-instruction">Swipe your BuzzCard to add yourself to the queue</b>
            <div *ngFor="let student of studentQueue; let i = index">
                <mat-card class="student-card">
                    <span class="student-name">{{student.name}}</span>
                    <div class="edit-queue-control" *ngIf="hasElevatedPrivileges">
                        <button mat-raised-button
                                class="btn btn-default edit-queue-btn"
                                *ngIf="i < studentQueue.length - 1"
                                (click)="moveStudentDown(i)">
                            ▼
                        </button>
                        <button mat-raised-button
                                class="btn btn-default edit-queue-btn"
                                *ngIf="i > 0"
                                (click)="moveStudentUp(i)">
                            ▲
                        </button>
                        <button mat-raised-button
                                class="btn btn-success edit-queue-btn"
                                (click)="removeStudent(i)">
                            Resolve
                        </button>
                    </div>
                </mat-card>
            </div>
            <div *ngIf="studentQueue.length === 0">
                <p class="empty-queue-label">No students in queue</p>
            </div>
        </div>
        <div class="col col-sm-4">
            <div class="ta-duty-header">
                <span>T.A.s on Duty</span>
                <div class="elevate-privilege-control">
                    <button mat-raised-button (click)="listenForElevatedPrivileges()"
                            *ngIf="!listeningForElevatedPrivileges && !hasElevatedPrivileges">Admin Mode
                    </button>
                    <span *ngIf="listeningForElevatedPrivileges && !hasElevatedPrivileges">Swipe your BuzzCard</span>
                    <button mat-raised-button color="primary" (click)="unelevatePrivileges()"
                            *ngIf="hasElevatedPrivileges">Finish Editing
                    </button>
                </div>
            </div>
            <div class="ta-list-container row">
                <div *ngFor="let ta of taDutyList; let i = index" class="col col-sm-6">
                    <mat-card class="ta-card">
                        <div *ngIf="ta.imageURL">
                            <img class="rounded img-fluid ta-picture"
                                 src="{{ta.imageURL}}">
                            <span class="ta-name">{{ta.name}}</span>
                        </div>
                        <div *ngIf="!ta.imageURL">
                            <span class="ta-name">{{ta.name}}</span>
                        </div>
                        <div>
                            <p class="ta-email">{{ta.email}}</p>
                        </div>
                        <button mat-raised-button *ngIf="hasElevatedPrivileges"
                                class="btn btn-danger edit-queue-btn"
                                (click)="removeTA(i)">
                            Sign Out
                        </button>
                    </mat-card>
                </div>
            </div>
            <div *ngIf="taDutyList.length === 0">
                <span class="empty-duty-label">No T.A.s on duty</span>
            </div>
        </div>
    </div>
</div>
