.main-header {
    margin-top: 6px;
    margin-left: 6px;
    font-size: 28px;
}

.ta-duty-header {
    margin-top: 10px;
    margin-left: 16px;
    font-size: 24px;
}

.init-main-header {
    margin-top: 6px;
    font-size: 28px;
}

.main-content-container {
    padding: 5px;
}

#init-app-container {
    margin: 5px;
    width: 100%;
}

#init-app-card {
    width: 100%;
}

#progress {
    text-align: center;
}

#progress-pad {
    height: 40vh;
}

#progress-spinner {
    display: inline-block;
}

#progress-spinner {
    margin: auto;
    display: block;
}

.student-card {
    width: 100%;
}

.student-name {
    font-weight: bold;
    font-size: 18px;
}

.ta-list-container {
    /*display: inline-block;*/
    width: 100%;
}

.ta-card {
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin: 0 0 30px;
    padding-bottom: 10px;
}

.ta-picture {
    width: auto;
    height: auto;
    object-fit: cover;
}

.ta-name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: bold;
}

.ta-large-name {
    font-size: 21px;
    font-weight: bold;
}

.student-queue-container {
    width: 66%;
}

.ta-duty-container {
    width: 33%;
}

.empty-queue-label {
    color: grey;
    margin-left: 6px;
}

.empty-duty-label {
    color: grey;
    margin-left: 16px;
}
