.main-header {
    margin-top: 6px;
    margin-left: 6px;
    font-size: 28px;
}

.main-content-container {
    padding: 5px;
}

#init-app-container {
    margin: 5px;
    width: 100%;
}

#init-app-card {
    width: 100%;
}
