<div [ngClass]="{'dark-theme': isDarkTheme}" class="main-content-container">
    <div [ngClass]="{'dark-background': isDarkTheme}"
         id="particles-js-target"></div>
    <div class="row" *ngIf="!appInitialized && !isInitializing">
        <div class="col-xs-12" id="init-app-container">
            <mat-card id="init-app-card">
                <h1 class="init-main-header">Create Office Hours Queue</h1>
                <form>
                    <mat-form-field>
                        <input matInput placeholder="Class name (optional)" [(ngModel)]="className" name="className"
                               (ngModelChange)="classNameChange()">
                    </mat-form-field>
                </form>
                <mat-slide-toggle [(ngModel)]="showTAPictures" class="init-slider">
                    Show T.A. Pictures
                </mat-slide-toggle>
                <br>
                <mat-slide-toggle [(ngModel)]="isDarkTheme" class="init-slider" (change)="onDarkModeChange()">
                    Dark Mode
                </mat-slide-toggle>
                <br>
                <mat-slide-toggle [(ngModel)]="showParticles" class="init-slider" (change)="toggleParticles()">
                    Particle Effects
                </mat-slide-toggle>
                <br>
                <div class="init-slider">
                    <mat-slide-toggle [(ngModel)]="trackStats">
                        Enable T.A. Time Stats
                    </mat-slide-toggle>
                    <br>
                    <small>Warning: These are erased once the page is refreshed</small>
                </div>
                <b>Select roster csv file</b>
                <br>
                <input type="file" #file (change)="initializeApp(file.files)">
                <br>
                <button mat-raised-button id="generate-roster-button" class="btn info-btn"
                        (click)="openGenerateRosterPage()">Generate New Roster File
                </button>
            </mat-card>
        </div>
    </div>
    <div *ngIf="!appInitialized && isInitializing" id="progress-container">
        <div id="progress-pad"></div>
        <mat-progress-spinner mode="indeterminate" id="progress-spinner"></mat-progress-spinner>
    </div>
    <div class="row" *ngIf="appInitialized">
        <div class="col col-sm-8">
            <div class="main-header">
                <img class="logo" src="{{LOGO_URL}}">
                <span class="class-name-edit-container" *ngIf="hasElevatedPrivileges">
                        <mat-form-field>
                            <input matInput placeholder="Class name (optional)" [(ngModel)]="className" name="className"
                                   (ngModelChange)="classNameChange()">
                        </mat-form-field>
                    </span>
                <span class="main-header-text">{{hasElevatedPrivileges ? null : className}}
                    Office Hours Queue</span>
            </div>
            <mat-card class="student-card" *ngIf="!disableAddStudents || hasElevatedPrivileges">
                <p class="num-students-text">
                    <span
                        *ngIf="!showFullQueue && studentQueue.length > studentHideLength">Showing <span
                        class="num-students-num">{{studentHideLength}}</span>
                        of </span><span class="num-students-num">{{studentQueue.length}}</span> student<span
                    *ngIf="studentQueue.length !== 1">s</span>
                    in queue
                </p>
                <div *ngIf="hasElevatedPrivileges">
                    <mat-slide-toggle [(ngModel)]="disableAddStudents" (change)="refreshElevatedPrivileges()">
                        Disable new additions
                    </mat-slide-toggle>
                    &nbsp;
                    <mat-slide-toggle [(ngModel)]="showFullQueue" (change)="refreshElevatedPrivileges()">
                        Show Full Queue
                    </mat-slide-toggle>
                    &nbsp;
                    <mat-form-field *ngIf="!showFullQueue">
                        <input
                            matInput
                            type="number"
                            name="studentHideLength"
                            [(ngModel)]="studentHideLength"
                            placeholder="Overflow Hide Length"
                            min="10" max="30" step="2"
                            (change)="validateStudentHideLength(); refreshElevatedPrivileges()"
                        />
                    </mat-form-field>
                </div>
                <div class="buzzcard-instruction" *ngIf="!hasElevatedPrivileges">Swipe your BuzzCard or enter your name
                    to add yourself to the queue
                </div>
                <form (ngSubmit)="addCustomStudent()" #studentNameForm="ngForm">
                    <mat-form-field>
                        <input matInput placeholder="{{hasElevatedPrivileges ? 'Student' : 'Your'}} name"
                               [(ngModel)]="customStudentName"
                               name="customStudentName"
                               autocomplete="off">
                    </mat-form-field>
                    <br>
                    <button type="submit" mat-raised-button class="btn btn-success"
                            [disabled]="!(customStudentName && customStudentName.length > 0)">Add to queue
                    </button>
                </form>
            </mat-card>
            <div class="row">
                <div
                    *ngFor="let student of studentQueue | slice: 0 : (showFullQueue ? studentQueue.length : studentHideLength); let i = index"
                    class="col col-12 student-card-col"
                    [ngClass]="{'col-md-6': studentQueue.length > studentMaxSingleColumnLength,
                                 'even-student-col': (studentQueue.length > studentMaxSingleColumnLength) && i % 2 === 0}">
                    <mat-card class="student-card">
                        <span class="student-number">{{student.number}}</span> <span
                        class="student-name">. {{student.name}}</span>
                        <div class="edit-queue-control" *ngIf="hasElevatedPrivileges">
                            <button mat-raised-button
                                    class="btn btn-default edit-queue-btn"
                                    *ngIf="i < studentQueue.length - 1"
                                    (click)="moveStudentDown(i)">
                                ▼
                            </button>
                            <button mat-raised-button
                                    class="btn btn-default edit-queue-btn"
                                    *ngIf="i > 0"
                                    (click)="moveStudentUp(i)">
                                ▲
                            </button>
                            <button mat-raised-button
                                    class="btn btn-success edit-queue-btn"
                                    (click)="removeStudent(i)">
                                Resolve
                            </button>
                        </div>
                    </mat-card>
                </div>
            </div>
            <div *ngIf="studentQueue.length === 0">
                <br>
                <p class="queue-end-label">No students in queue</p>
            </div>
            <div *ngIf="disableAddStudents">
                <p class="queue-end-label">Currently not accepting additions to queue</p>
            </div>
            <div *ngIf="!showFullQueue && studentQueue.length > studentHideLength">
                <p class="queue-end-label">{{studentQueue.length - studentHideLength}} additional
                    student{{studentQueue.length - studentHideLength === 1 ? '' : 's'}} not shown</p>
            </div>
        </div>
        <div class="col col-sm-4">
            <div class="ta-duty-header">
                <span>T.A.s on Duty</span>
            </div>
            <div class="ta-list-container row">
                <div *ngFor="let ta of taDutyList; let i = index" class="col col-sm-6">
                    <mat-card class="ta-card" [ngClass]="backgroundTintMap[ta.backgroundTint]">
                        <div *ngIf="ta.imageURL && showTAPictures">
                            <img class="rounded img-fluid ta-picture"
                                 src="{{ta.imageURL}}">
                            <span class="ta-name" [style.color]="ta.nameColor">{{ta.name}}</span>
                        </div>
                        <div *ngIf="!(ta.imageURL && showTAPictures)">
                            <span class="ta-name" [style.color]="ta.nameColor">{{ta.name}}</span>
                        </div>
                        <div>
                            <span class="ta-email">{{ta.email}}</span>
                        </div>
                        <button mat-raised-button *ngIf="hasElevatedPrivileges"
                                class="btn btn-danger edit-queue-btn"
                                (click)="removeTA(i)">
                            Sign Out
                        </button>
                    </mat-card>
                </div>
            </div>
            <div *ngIf="taDutyList.length === 0">
                <p class="empty-duty-label">No T.A.s on duty</p>
            </div>
            <mat-card class="manual-ta-login-container">
                <form (ngSubmit)="addTAUsingGTID()" #taGTIDForm="ngForm">
                    <div>Enter T.A. G.T.I.D. or swipe BuzzCard to login</div>
                    <mat-form-field>
                        <input matInput placeholder="T.A. G.T.I.D."
                               [(ngModel)]="taManualGTID"
                               name="taManualGTID"
                               type="password"
                               autocomplete="off">
                    </mat-form-field>
                    <button mat-raised-button
                            class="btn btn-success manual-ta-login-button">
                        T.A. Login
                    </button>
                </form>
                <div *ngIf="hasElevatedPrivileges">
                    <mat-slide-toggle [(ngModel)]="showTAPictures" class="login-utility-slider"
                                      (change)="refreshElevatedPrivileges();">
                        Show T.A. Pictures
                    </mat-slide-toggle>
                    <br>
                    <mat-slide-toggle [(ngModel)]="isDarkTheme" class="login-utility-slider"
                                      (change)="refreshElevatedPrivileges(); onDarkModeChange()">
                        Dark Mode
                    </mat-slide-toggle>
                    <br>
                    <mat-slide-toggle [(ngModel)]="showParticles" class="login-utility-slider"
                                      (change)="toggleParticles(); refreshElevatedPrivileges();">
                        Particle Effects
                    </mat-slide-toggle>
                    <br>
                    <button mat-raised-button class="btn btn-success" (click)="unelevatePrivileges()">Finish Editing
                    </button>
                    &nbsp;
                    <button mat-raised-button *ngIf="trackStats"
                            (click)="openTimeInfoDialog()">
                        View Stats
                    </button>
                </div>
            </mat-card>
        </div>
    </div>
    <div class="page-footer" *ngIf="!appInitialized && !isInitializing">
        <small>
            <a href="https://github.com/debkbanerji/office-hours-queue" target="_blank" class="external-link">Source
                Code</a>
            &#8901;
            Created by <a href="https://debkbanerji.com" target="_blank" class="external-link">Deb</a>
            &#8901;
            Made with ♥
            &#8901;
            v{{version}}
        </small>
    </div>
</div>
